<!DOCTYPE html>
<html ng-app="myModule">
	<head>
		<meta charset="UTF-8">
		<title>demo</title>
		<script src="../angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="module.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div ng-controller="myCtrl" ng-click="count=count+1">
			{{count}}
			<!--
				$emit()冒泡
				$broadcast()捕获
			-->
			<div ng-controller="myCtrl" ng-click="$emit('myCount')">
				{{count}}
				<div ng-controller="myCtrl">{{count}}</div>
			</div>
		</div>
	</body>
	
</html>